#home {
	background: #2A3373;
	color: white;
}

.caixa {
	padding: 60px 0;
	border-bottom: 1px solid #e5e5e5;
}

footer p a {
	margin: 5px 15px;
}

.cabecalho{
	background-color: #2A3373;
}

.img-thumbnail {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #dee2e6;
    border-radius: .25rem;
    max-width: 100%;
    height: auto;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
}